{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div id="containerNuevoSocio" class="card">
		<h5 class="card-header d-flex justify-content-between align-items-center" style="background: #85B58A">
			Modificar socio {{ socio.nombre}}
		</h5>
		<div class="card-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<h6 class="card-subtitle mb-2 text-muted">Información del socio</h6>
					<div class="row">
						<div class="col-sm">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
								<input id="inpNombre" type="text" class="form-control text-center" value="{{ socio.nombre }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Cédula</span>
								<input id="inpCedula" type="text" class="form-control text-center" value="{{ socio.cedula }}">
							</div>
						</div>
						<div class="col-sm-5">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
								<input id="inpTelefono" type="text" class="form-control text-center" value="{{ socio.telefono }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Dirección</span>
								<input id="inpDireccion" type="text" class="form-control text-center" value="{{ socio.direccion }}">
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<h6 class="card-subtitle mb-2 text-muted">Información de pago</h6>
					<div class="row">
						<div class="col-sm-7">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Cuota</span>
								<p  class="form-control text-center">$ {{ socio.cuota }} (Auto generado)</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Fecha Pago</span>
								<input id="inpFechaPago" type="text" class="form-control text-center" value="{{ socio.fechaPago }}">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01">Lugar</label>
								</div>
								<select class="custom-select" id="inpLugarPago">
									<option value="2" selected>Seleccione</option>
									<option value="0">Veterinaria</option>
									<option value="1">Cobrador</option>
								</select>
								{% if socio.lugarPago == 0 %}
								<span id="inpLugarPagoActual" class="form-control text-center">Veterinaria</span>
								{% elseif socio.lugarPago == 1 %}
								<span id="inpLugarPagoActual" class="form-control text-center">Cobrador</span>
								{% endif %}
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<h6 class="card-subtitle mb-2 text-muted">Notificaciones</h6>
					<div class="row">
						<div class="col-sm">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Email</span>
								<input id="inpEmail" type="text" class="form-control text-center" value="{{ socio.email }}">
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<h6 class="card-subtitle mb-2 text-muted">Información adicional</h6>
					<div class="row">
						<div class="col-sm">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Fecha ingreso</span>
								<input id="inpFechaIngreso" type="date" class="form-control text-center">
								<p id="inpFechaIngresoActual" class="form-control text-center">{{ socio.fechaIngreso }}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Rut</span>
								<input id="inpRut" type="text" class="form-control text-center" value="{{ socio.rut }}">
							</div>
						</div>
						<div class="col-sm-7">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Telefax</span>
								<input id="inpTelefax" type="text" class="form-control text-center" value="{{ socio.telefax }}">
							</div>
						</div>
					</div>

					<div class="d-flex justify-content-center">
						<button class="btn btn-success" data-toggle="modal" data-target="#modalModificarSocio">Modificar socio</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal fade" id="modalModificarSocio" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success" >
				<h5 class="modal-title" id="exampleModalLongTitle">Modificar socio</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center">¿Desea actualizar la información de {{ socio.nombre }} ?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
				<button class="btn btn-success" id="{{ socio.idSocio }}" onclick="modificarSocio(this)">Actualizar</button>

			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/editSocio.js"></script>
{% endblock %}
{% endblock %}