{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border shadow w-75">
		<div class="card-header d-flex justify-content-between bg-mycolor">
			<h5 class="card-title">Historial de {{ administrador.USUARIO }}</h5>
		</div>
		<div class="card-body">
			<table class="table">
				<thead class="bg-mycolor">
					<tr>
						<td class="text-center" scope="col">Fecha</td>
						<td class="text-center" scope="col">Socio</td>
						<td class="text-center" scope="col">Mascota</td>
						<td class="text-center" scope="col">Operación</td>
						<td class="text-center" scope="col">Detalle</td>
					</tr>
				</thead>
				<tbody id="tbodyHistorialUsuario"></tbody>
			</table>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/historialUsuario.js"></script>
<script type="text/javascript">
	cargarHistorialUsuario();
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
			cargarHistorialUsuario();
		}
	});
</script>
{% endblock %}
{% endblock %}