{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
{% if administrador %}
{% if hayVencimientos.result == 2 %}
<div class="d-flex flex-row-reverse mt-2">
	<a  id="hayVencimientosHoy" class="btn btn-warning" href="{{path_for('VacunasVencidas')}}">Vacunas vencidas</a>
</div>
{% endif %}
<div class="d-flex flex-row-reverse mt-2">
	<a id="hayNotifPendientes" class="btn btn-warning" href="{{path_for('Notificaciones')}}">Notificaciones pendientes</a>
</div>

{% endif %}
<div class="d-flex justify-content-center">
	<img style="border-radius: 20%;" src="{{path_for('Inicio')}}img/inicio.jpeg">
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js?{{version}}"></script>
{% endblock %}
{% endblock %}