{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border shadow w-75">
		<div class="card-header d-flex justify-content-between bg-mycolor">
			<h5 class="card-title mt-2">Mascotas</h5>
		</div>
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div class="input-group mb-3 w-50">
					<input type="text" class="form-control shadow-sm" onchange="searchMascota(this)" onkeyup="this.onchange()" placeholder="Buscar nombre...">
				</div>
			</div>
			<div id="containerTable">
				<table class="table">
					<thead class="bg-mycolor">
						<tr>
							<td class="text-center" scope="col">Nombre</td>
							<td class="text-center" scope="col">Dueño</td>
							<td class="text-center notShowMobile" scope="col">Especie</td>
							<!--td class="text-center" scope="col">Raza</td-->
							<td class="text-center notShowMobile" scope="col">Sexo</td>
							<td class="text-center notShowMobile" scope="col">Fecha nacimiento</td>
						</tr>
					</thead>
					<tbody id="tbodyMascotas">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/mascotas.js?{{version}}"></script>
<script type="text/javascript">
	cargarTablaMascotas();
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
			cargarTablaMascotas();
		}
	});
</script>
{% endblock %}
{% endblock %}