{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border shadow w-75">
		<div class="card-header d-flex justify-content-between bg-mycolor">
			<h5 class="card-title">Mascotas</h5>
		</div>
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div class="input-group mb-3 w-50">
					<input type="text" class="form-control shadow-sm" onchange="searchMascota(this)" onkeyup="this.onchange()" placeholder="Buscá por nro de cliente, nombre de cliente o nombre de mascota...">
				</div>
			</div>
			<div id="containerTable">
				<table class="table">
					<thead class="bg-mycolor">
						<tr>
							<td class="text-center col-4">Nombre</td>
							<td class="text-center col-4">Dueño</td>
							<td class="text-center notShowMobile col-1">Especie</td>
							<td class="text-center notShowMobile col-1">Sexo</td>
							<td class="text-center notShowMobile col-1">Fecha nacimiento</td>
							<td class="text-center notShowMobile col-1"><i class="fab fa-whatsapp"></i></td>
						</tr>
					</thead>
					<tbody id="tbodyMascotas">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/mascotas.js?{{version}}"></script>
<script type="text/javascript">
	cargarTablaMascotas();
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= ($(this)[0].scrollHeight -10) ) {
			cargarTablaMascotas();
		}
	});
</script>
{% endblock %}
{% endblock %}