{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border shadow">
		<div class="card-header d-flex justify-content-between bg-mycolor">
			<h5 class="card-title mt-2">Nueva mascota para&nbsp;{{ socio.nombre }}</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<label for="inputNombre">Nombre</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputNombre" onkeypress="return keyEnterPress(event, this.value, 30)">
						<small id="emailHelp" class="form-text text-muted">Obligatorio</small>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="inputEspecie">Especie</label>
						<input type="email" class="form-control text-center shadow-sm" id="inputEspecie" onkeypress="return keyEnterPress(event, this.value, 30)">
						<small id="emailHelp" class="form-text text-muted">Obligatorio</small>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="inputRaza">Raza</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputRaza" onkeypress="return keyEnterPress(event, this.value, 30)">
						<small id="emailHelp" class="form-text text-muted">Obligatorio</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<label for="inputSexo">Sexo</label>
						<select class="custom-select shadow-sm" id="inputSexo" onkeypress="return keyEnterPress(event, null, null)">
							<option selected value="0">Hembra</option>
							<option value="1">Macho</option>
						</select>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="inputNacimiento">Nacimiento</label>
						<input type="date" class="form-control text-center shadow-sm" id="inputNacimiento" onkeypress="return keyEnterPress(event, null, null)">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="inputColor">Color</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputColor" onkeypress="return keyEnterPress(event, this.value, 30)">
					</div>
				</div>
			</div>
			<h6 class="card-subtitle mt-3 mb-2 text-muted">Información adicional</h6>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="inputPelo">Pelo</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputPelo" onkeypress="return keyEnterPress(event, this.value, 30)">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="inputChip">Chip</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputChip" onkeypress="return keyEnterPress(event, this.value, 30)">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="inputColor">Pedegree</label>
						<select class="custom-select shadow-sm" id="inpPedegree" onkeypress="return keyEnterPress(event, null, null)">
							<option value="0" selected>No</option>
							<option value="1">Si</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="inputColor">Observaciones</label>
						<textarea id="inputObservaciones" class="form-control rounded-0 shadow-sm" maxlength="200" rows="3"></textarea>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<button id="btnConfirm" name="{{ socio.idSocio }}" onclick="insertNewMascota(this)" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/newMascota.js"></script>
<script type="text/javascript">
	$('#inputNombre').focus();
	$('#inputNacimiento').val(getDateForInput());
</script>
{% endblock %}
{% endblock %}