{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border shadow w-75">
		<div class="card-header d-flex justify-content-between bg-mycolor">
			<div class="row">
				<h5 class="card-title mt-2 ml-2">Configuraciones</h5>
			</div>
		</div>
		<div class="card-body">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-profile-tab-cuota" data-toggle="tab" href="#nav-cuota" role="tab" aria-controls="nav-profile" aria-selected="false">Cuota</a>
					<a class="nav-item nav-link" id="nav-profile-tab-usuario" data-toggle="tab" href="#nav-usuario" role="tab" aria-controls="nav-profile" aria-selected="false">Usuarios</a>

					<a class="nav-item nav-link" id="nav-profile-tab-whatsapp" data-toggle="tab" href="#nav-whatsapp" role="tab" aria-controls="nav-profile" aria-selected="false">Whatsapp</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade  show active border boder-2 border-top-0 p-3" id="nav-cuota" role="tabpanel" aria-labelledby="nav-profile-tab">
					<h6 class="card-subtitle text-muted">Configuración de cuota por cantidad de mascotas.</h6>
					<div class="row mt-3">
						<div class="col-3">
							<div class="form-group">
								<label for="inputRaza">Una</label>
								<input type="number" class="form-control text-center shadow-sm" id="inputCuotaUno" value="{{ cuotas.cuotaUno }}">
							</div>
						</div>
						<div class="col-3">
							<div class="form-group">
								<label for="inputRaza">Dos</label>
								<input type="number" class="form-control text-center shadow-sm" id="inputCuotaDos" value="{{cuotas.cuotaDos}}">
							</div>
						</div>
						<div class="col-3">
							<div class="form-group">
								<label for="inputRaza">Extra</label>
								<input type="number" class="form-control text-center shadow-sm" id="inputCuotaExtra" value="{{cuotas.cuotaExtra}}">
							</div>
						</div>
					</div>

					<hr>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="inputRaza">Plazo para marcar como inactivo</label>
								<select class="custom-select col-3 shadow-sm" id="inputPlazoDeuda">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
								<label>(meses)</label>
							</div>
						</div>
					</div>
					<div class="d-flex flex-row-reverse">
						<button class="btn btn-success shadow-sm" data-toggle="modal" data-target="#modalFijarCuota">Guardar</button>
					</div>
				</div>
				<div class="tab-pane fade  border boder-2 border-top-0 p-3" id="nav-usuario" role="tabpanel" aria-labelledby="nav-profile-tab">
					<div class="row">
						<div class="col">
							<table class="table table-sm">
								<thead class="bg-mycolor">
									<tr>
										<td class="text-center" scope="col">Usuario</td>
										<td class="text-center" scope="col">Acción</td>
									</tr>
								</thead>
								<tbody id="tbodyUsers">
									{% for usuario in listUsuarios %}
									<tr id="{{ usuario.idUsuario }}">
										<td class="text-center">{{ usuario.nombre }}</td>
										<td class="text-center col-5">
											<button class="btn btn-link btn-sm" onclick="selectUsuarioModificar('{{ usuario.idUsuario }}','{{ usuario.nombre }}', '{{ usuario.email }}')" data-toggle="tooltip" data-placement="top" title="Modificar">
												<i class="fas fa-edit text-dark"></i>
											</button>
											<button class="btn btn-link btn-sm" onclick="deleteUser('{{usuario.idUsuario}}')" data-toggle="tooltip" data-placement="top" title="Borrar">
												<i class="fas fa-trash-alt text-dark"></i>
											</button>
											<button class="btn btn-link btn-sm" onclick="cleanPassword('{{usuario.idUsuario}}')" data-toggle="tooltip" data-placement="top" title="Restaurar contraseña">
												<i class="fas fa-eraser text-dark"></i>
											</button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="col">
							<h6 id="titleNuevoUsuario" class="card-subtitle mb-2 text-muted">Ingresar nuevo usuario</h6>
							<div class="form-group">
								<label for="inputUsuario">Usuario</label>
								<input type="text" class="form-control text-center shadow-sm" id="inputUsuario">
							</div>
							<div class="form-group">
								<label for="inputCorreo">Correo</label>
								<input type="text" class="form-control text-center shadow-sm" id="inputCorreo">
							</div>
							<div id="contenedorButtons" class="d-flex justify-content-between">
								<button class="btn btn-danger" onclick="clearForm()">Cancelar</button>
								<button id="btnNuevoUsuario" onclick="crearUsuario()" class="btn btn-success">Agregar</button>
							</div>
						</div>
					</div>
				</div>



				<div class="tab-pane fade  border boder-2 border-top-0 p-3" id="nav-whatsapp" role="tabpanel" aria-labelledby="nav-profile-tab">
					<div class="row">
						<div class="col-6">
							<h4>Buscar: </h4>
							<div class="mb-2">
								<input type="text" id="searchWhatsappTable" class="form-control" placeholder="Buscar en la tabla...">
							</div>
							<hr>

							<h4>Mensaje: </h4>
							<textarea class="w-100" placeholder="Mensaje a enviar..."></textarea>
							<hr>
							<div>
								<h4>Tipos de clientes: </h4>
								<p class="text-end" id="pClientsWhatsapp"></p>
								<select name="" id="selectClientTypeWhatsapp" class="form-select form-control shadow-sm">
									<option value="1">Socio</option>
									<option value="3">Ex socio</option>
									<option selected value="0">No socio</option>
									<option value="2">ONG</option>
									<option value="bp">Buen pagador</option>
								</select>
							</div>
							<div class="tableCustomScroll" style="max-height: 40vh;">
								<table class="table">
									<thead style="background-color: white;"><tr><th>Socio</th><th >Whatsapp</th><th ></th><th >Estado</th><th >Enviar</th></tr></thead>
									<tbody id="tbodyClientsWhatsapp"  ></tbody>
								</table>
							</div>

							<div class="d-flex flex-row-reverse">
								<button type="button" class="btn btn-success" id="btnEnviarWhatsapp">Enviar a todos</button>
							</div>
						</div>
						<div class="col-6" >

							<h6 class="card-subtitle mb-2 text-muted">Conectar whatsapp automático</h6>
							<hr>
							<h4 class="py-3" id="pStatusWhatsapp">Estado: <strong>{{whatsappStatus}}</strong></h4>
							<hr>

							<div class="col-7 d-flex flex-row-reverse">
								<img id="imageWhatsappLogin" src="" alt="QR whatsapp" width="100%" hidden>
								<div id="spinnerWhatsappLogin" class="spinner-border" role="status" hidden>
								  <span class="sr-only">Loading...</span>
								</div>
							</div>
							<div class="d-flex flex-row-reverse">
								<button type="button" class="btn btn-success m-1" onclick="whatsappConnect(this)" >Nuevo QR</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalFijarCuota" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success" >
				<span class="modal-title" id="exampleModalLongTitle">Modificar cuota cliente</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center">¿Desea fijar los montos ingresados para calcular las cuotas de los clientes? Esto generará una modificación en las cuotas de todos los clientes.</p>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button class="btn btn-danger shadow-sm" data-dismiss="modal" >Cancelar</button>
				<button class="btn btn-success" id="btnNuevaMascota shadow-sm" onclick="fijarCostoCuota()">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalModificarPass" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success" >
				<h5 class="modal-title" id="exampleModalLongTitle ">Modificar contraseña administrador</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center">¿Desea modificar la contraseña del administrador?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
				<button class="btn btn-success" id="btnNuevaMascota" onclick="fijarPassAdministrador()">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{% include("progressBar.twig") %}

{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/settings.js?{{version}}"></script>
<script type="text/javascript">
	$('#inputPlazoDeuda').val('{{ cuotas.plazoDeuda }}');
</script>
{% endblock %}
{% endblock %}