{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border shadow w-75">
		<div class="card-header d-flex justify-content-between bg-mycolor">
			<h5 class="card-title">Vacunas vencidas</h5>
		</div>
		<div class="card-body">
			<div class="d-flex flex-row-reverse">
				<div class="form-group row mr-2">
					<label for="staticEmail" class="col col-form-label">Vencimiento</label>
					<div>
						<select id="inputDateVencimiento" class="form-control" onchange="cargarVencimientoVacunas()">
							{% for vencimiento in responseVencimientos.listResult %}
							<option value="{{ vencimiento.fechaProximaDosis }}">{{ vencimiento.fechaProximaDosisFormat }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div>
				<table class="table">
					<thead class="bg-mycolor">
						<tr>
							<td class="text-center" scope="col">Vencimiento</td>
							<td class="text-center" scope="col">Vacuna</td>
							<td class="text-center" scope="col">Intervalo</td>
							<td class="text-center" scope="col">N° Dosis</td>
							<td class="text-center" scope="col">Mascota</td>
							<td class="text-center" scope="col">Raza</td>
							<td class="text-center" scope="col">Socio</td>
							<td class="text-center" scope="col">Teléfono</td>
							<td class="text-center" scope="col">Email</td>
						</tr>
					</thead>
					<tbody id="tbodyVencimientosVacuna">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalNotificacion" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success" >
				<h5 class="modal-title" id="exampleModalLongTitle">Notificar vencimientos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>¿Desea enviar una notificación con las vacunas pendientes de la mascota de este socio?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
				<button class="btn btn-success" id="btnNuevaMascota" onclick="notificarVencimientosVacuna()">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/vencimientos.js"></script>
<script type="text/javascript">
	cargarVencimientoVacunas();
</script>
{% endblock %}
{% endblock %}