{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border shadow w-75">
		<div class="card-header d-flex justify-content-between bg-mycolor">
			<h5 class="card-title">Cuotas clientes</h5>
		</div>
		<div class="card-body">
			<div class="input-group mb-3 w-50">
				<input type="text" class="form-control shadow-sm" placeholder="Buscar nombre...">
			</div>

			<div class="tableCustomScroll">
				<table class="table">
					<thead class="bg-mycolor">
						<tr>
							<td class="text-center" scope="col">Ultima cuota</td>
							<td class="text-center notShowMobile" scope="col">Día de pago</td>
							<td class="text-center" scope="col">Cliente</td>
							<td class="text-center notShowMobile" scope="col">Cuota</td>
							<td class="text-center notShowMobile" scope="col">Lugar de pago</td>
							<td class="text-center" scope="col">Teléfono</td>
							<td class="text-center" scope="col">Email</td>
						</tr>
					</thead>
					<tbody id="tbodyVencimientosCuota"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalNotificacionCuota" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<input type="text" id="idSocioVencimiento" style="display: none;">
			<div class="modal-header alert-success" >
				<h5 class="modal-title" id="exampleModalLongTitle">Notificar vencimientos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center">¿Desea notificar al cliente sobre el vencimiento de su cuota?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
				<button class="btn btn-success" id="btnNuevaMascota" onclick="notificarVencimientoCuota()">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/vencimientos.js?{{version}}"></script>
<script type="text/javascript">
	cargarVencimientoCuota();
</script>
{% endblock %}
{% endblock %}