{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
	<div class="col">
		<div id="containerNuevoSocio" class="card">
			<div class="card-header d-flex justify-content-between align-items-center" style="background: #85B58A">
				{% if info.duenio != null %}
				<h5>Mascota {{ info.mascota.nombre}} de <a style="color: black;" href="{{path_for('Inicio')}}verSocio/{{ info.duenio.idSocio }}"> {{ info.duenio.nombre}}</a></h5>
				{% else %}
				<h5>Mascota {{ info.mascota.nombre}}</h5>
				{% endif %}
				<a style="color: white;" class="btn btn-info btn-sm" href="{{path_for('Inicio')}}editMascota/{{ info.mascota.idMascota }}"><i class="fas fa-edit"> editar</i></a>
			</div>
			<div class="card-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="card-subtitle mb-2 text-muted">Información de la mascota</h6>
						<div class="row">
							<div class="col-sm">
								<div class="input-group mb-3">
									<span class="input-group-text" id="inputGroup-sizing-default">Especie</span>
									<p class="form-control text-center">{{ info.mascota.especie }}</p>
								</div>
							</div>
							<div class="col-sm">
								<div class="input-group mb-3">
									<span class="input-group-text" id="inputGroup-sizing-default">Raza</span>
									<p class="form-control text-center">{{ info.mascota.raza }}</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<div class="input-group mb-3">
									<span class="input-group-text" id="inputGroup-sizing-default">Sexo</span>
									{% if info.mascota.sexo == 0 %}
									<p class="form-control  text-center">Hembra</p>
									{% else %}
									<p class="form-control  text-center">Macho</p>
									{% endif %}
								</div>
							</div>
							<div class="col-sm">
								<div class="input-group mb-3">
									<span class="input-group-text" id="inputGroup-sizing-default">Nacimiento</span>
									<p class="form-control text-center">{{ info.mascota.fechaNacimiento }}</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<div class="input-group mb-3">
									<span class="input-group-text" id="inputGroup-sizing-default">Pelo</span>
									<p class="form-control text-center">{{ info.mascota.pelo }}</p>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="inputGroup-sizing-default">Pedigree</span>
									{% if info.mascota.pedigree == 1 %}
									<p class="form-control text-center">Si</p>
									{% else %}
									<p class="form-control text-center">Si</p>
									{% endif %}
								</div>
							</div>
							<div class="col-sm">
								<div class="input-group mb-3">
									<span class="input-group-text" id="inputGroup-sizing-default">Color</span>
									<p class="form-control text-center">{{ info.mascota.color }}</p>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="inputGroup-sizing-default">Chip</span>
									<p class="form-control text-center">{{ info.mascota.chip }}</p>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<h6 class="card-subtitle mb-2 text-muted">Observaciones</h6>
						<div class="row">
							<div class="col-sm">
								<div class="input-group mb-3">
									<textarea id="inpObservaciones" class="form-control rounded-0" maxlength="200" id="exampleFormControlTextarea2" rows="3" disabled>{{ info.mascota.observaciones }}</textarea>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							{% if info.hayHistorial == true %}
							<div class="col-sm  text-center">
								<a class="btn btn-info" href="{{path_for('Inicio')}}historiaClinica/{{ info.mascota.idMascota }}">Ver historia clínica </a>
							</div>
							{% endif %}
							<div class="col-sm  text-center">
								<button class="btn btn-success" data-toggle="modal" data-target="#modalNuevaHistoria">Agregar historia clinica</button>
							</div>
						</div>
						<div class="row" style="margin-top: 2%;">
							{% if info.mascota.estado == 1 %}
							<div class="col-sm  text-center">
								<button class="btn btn-danger" id="{{ info.mascota.idMascota }}" name="inactivar" onclick="setEstadoMascota(this)">Guardar como inactiva</button>
							</div>
							{% elseif info.mascota.estado == 0 %}
							<div class="col-sm  text-center">
								<button class="btn btn-success" id="{{ info.mascota.idMascota }}" name="activar" onclick="setEstadoMascota(this)">Guardar como activa</button>
							</div>
							{% endif %}
							{% if info.duenio == null %}
							<div class="col-sm  text-center">
								<a class="btn btn-success" href="{{path_for('Inicio')}}asignarSocioMascota/{{ info.mascota.idMascota }}">Asignar socio</a>
							</div>
							{% endif %}
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm">
		<div class="card text-center">
			<div class="card-header">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link text-info active" id="nav-home-tab" data-toggle="tab" href="#nav-vacunas" role="tab" aria-controls="nav-home" aria-selected="true">Vacunas</a>
						<a class="nav-item nav-link text-info" id="nav-profile-tab" data-toggle="tab" href="#nav-enfermedades" role="tab" aria-controls="nav-profile" aria-selected="false">Enfermedades</a>
						<a class="nav-item nav-link text-info" id="nav-profile-tab" data-toggle="tab" href="#nav-analisis" role="tab" aria-controls="nav-profile" aria-selected="false">Analisis</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-vacunas" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="card">
							<h5 class="card-header" style="background: #85B58A">Vacunas de {{ info.mascota.nombre}}</h5>
							<div class="card-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<table id="tableStandar" class="table table-striped table-bordered">
											<thead class="thead-dark">
												<tr>
													<th class="text-center" scope="col">Prox. dosis</th>
													<th class="text-center" scope="col">Ultima dosis</th>
													<th class="text-center" scope="col">Nombre</th>
													<th class="text-center" scope="col">Intervalo</th>
													<th class="text-center" scope="col">Nº dosis</th>
													<th class="text-center" scope="col">Vacunar</th>
												</tr>
											</thead>
											<tbody>
												{% for vacuna in info.vacunas%}
												<tr>
													{% if vacuna.fechaProximaDosis == 0 %}
													<td class="text-center">Dosis única</td>
													{% else %}
													{% if vacuna.vencida == 1 %}
													<td class="text-center alert-danger">{{ vacuna.fechaProximaDosis }}</td>
													{% else %}
													<td class="text-center">{{ vacuna.fechaProximaDosis }}</td>
													{% endif %}
													{% endif %}
													<td class="text-center">{{ vacuna.fechaUltimaDosis }}</td>
													<td class="text-center">{{ vacuna.nombreVacuna }}</td>
													{% if vacuna.intervaloDosis == 1 %}
													<td class="text-center">dosis única</td>
													{% else %}
													<td class="text-center">{{ vacuna.intervaloDosis }}</td>
													{% endif %}
													<td class="text-center">{{ vacuna.numDosis }}</td>
													<td class="text-center">
														<button id="{{ vacuna.idVacunaMascota }}" name="{{ vacuna.nombreVacuna }}" class="btn btn-success btn-sm"  onclick="abrirModalAplicarDosis(this)"><i class="fas fa-syringe"></i></button>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</li>
									<li class="list-group-item">
										<div class="row">
											<div class="col-sm text-center">
												<button class="btn btn-success" data-toggle="modal" data-target="#vacunasModal">Aplicar nueva vacuna</button>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-enfermedades" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="card">
							<h5 class="card-header" style="background: #85B58A">Enfermedades de {{ info.mascota.nombre}}</h5>
							<div class="card-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<table id="tableStandar" class="table table-striped table-bordered">
											<thead class="thead-dark">
												<tr>
													<th class="text-center" scope="col">Fecha diagnostico</th>
													<th class="text-center" scope="col">Nombre</th>
													<th class="text-center" scope="col">Observaciones</th>
													<th class="text-center" scope="col">Modificar</th>
												</tr>
											</thead>
											<tbody>
												{% for enfermedad in info.enfermedades%}
												<tr>
													<td class="text-center">{{ enfermedad.fechaDiagnostico }}</td>
													<td class="text-center">{{ enfermedad.nombreEnfermedad }}</td>
													<td class="text-center">{{ enfermedad.observaciones }}</td>
													<td class="text-center">
														<button class="btn btn-success btn-sm" id="{{ enfermedad.idEnfermedad }}" name="ModificarEnfermedad" onclick="operacionEnfermedad(this)">
															<i class="fas fa-edit"></i>
														</button></td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</li>
										<li class="list-group-item">
											<div class="row">
												<div class="col-sm text-center">
													<button class="btn btn-success" id="{{info.mascota.idMascota}}" name="AgregarEnfermedad" onclick="operacionEnfermedad(this)">Agregar Nueva enfermedad</button>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-analisis" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="card">
								<h5 class="card-header" style="background: #85B58A">Analisis de {{ info.mascota.nombre}}</h5>
								<div class="card-body">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<table id="tableStandar" class="table table-striped table-bordered">
												<thead class="thead-dark">
													<tr>
														<th class="text-center" scope="col">Fecha</th>
														<th class="text-center" scope="col">Nombre</th>
														<th class="text-center" scope="col">Modificar</th>
														<th class="text-center" scope="col">Ver</th>
													</tr>
												</thead>
												<tbody>
													{% for estudio in info.analisis %}
													<tr>
														<td class="text-center">{{ estudio.fecha }}</td>
														<td class="text-center">{{ estudio.nombre }}</td>
														<td class="text-center">
															<button class="btn btn-success btn-sm" name="ModificarAnalisis" id="{{ estudio.idAnalisis }}"  onclick="operacionAnalisis(this)">
																<i class="fas fa-edit"></i>
															</button>
														</td>
														<td class="text-center">
															<button class="btn btn-info btn-sm" id="{{ estudio.idAnalisis }}"  onclick="verDetalleAnalsisi(this)">
																<i class="fas fa-eye"></i>
															</button>
														</td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</li>
										<li class="list-group-item">
											<div class="row">
												<div class="col-sm text-center">
													<button class="btn btn-success" id="{{info.mascota.idMascota}}" name="AgregarAnalisis" onclick="operacionAnalisis(this)">Agregar nuevo analisis</button>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- -----------------------------------------------------VER ANALISIS--------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalVerAnalisisMascota" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success">
				<h5  id="nombreVerAnalisis" class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="list-group-item  flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Detalle</h5>
						<small id="fechaVerAnalisis" class="text-muted"></small>
					</div>
					<p id="detalleVerAnalisis" class="mb-1"></p>
				</div>
				<div class="list-group-item flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Resultado</h5>
					</div>
					<p id="resultadoVerAnalisis" class="mb-1"></p>
				</div>
				<div class="d-flex justify-content-center" style="margin-top: 2%">
					<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- -----------------------------------------------------AGREGAR NUEVO ANALISIS--------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalAgregarAnalisisMascota" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success">
				<h5 id="tituloAgregarAnalisis" class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
					<input id="inpNombreAnalisis" type="text" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Fecha realización</span>
					<input id="inpFechaAnalisis" type="date" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<h6 class="card-subtitle mb-2 text-muted">Detalle</h6>
				<div class="col-sm">
					<div class="input-group mb-3">
						<textarea id="inpDetalleAnalisis" class="form-control rounded-0" maxlength="500" rows="8"></textarea>
					</div>
				</div>
				<h6 class="card-subtitle mb-2 text-muted">Resultados</h6>
				<div class="col-sm">
					<div class="input-group mb-3">
						<textarea id="inpResultadoAnalisis" class="form-control rounded-0" maxlength="500" rows="3"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				<button class="btn btn-success" id="modalButtonAgregarAnalisisMascota"></button>
			</div>
		</div>
	</div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------------------ACTIVAR/DESACTIVAR MASCOTA--------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalActDescMascota" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header" id="modalColorActDescMascota" >
				<h5 class="modal-title" id="modalTituloActDescMascota"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center" id="modalMensajeActDescMascota"></p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				<button class="btn btn-success" name="{{ info.mascota.idMascota }}" onclick="activarDesactivarMascota(this)" id="modalButtonActDescMascota"></button>
			</div>
		</div>
	</div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ----------------------------------------------------APLICAR DOSIS------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalAplicarDosis" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-info" >
				<h5 class="modal-title" id="exampleModalLongTitle">Aplicar dosis</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center" id="mensajeAplicarDosis"></p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				<button class="btn btn-success" id="btnAplicarDosis" onclick="aplicarDosisVacuna(this)">Aplicar</button>
			</div>
		</div>
	</div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------------------NUEVA HISTORIA CLINICA------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalNuevaHistoria" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success" >
				<h5 class="modal-title" id="exampleModalLongTitle">Nueva hisotira clinica de {{ info.mascota.nombre }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Fecha realización</span>
					<input id="inpHistoriaFechaRealizacion" type="date" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<h6 class="card-subtitle mb-2 text-muted">Motivo de la consulta</h6>
				<div class="col-sm">
					<div class="input-group mb-3">
						<textarea id="inpHistoriaMotivoConsulta" onfocus="ocultarAlert()" class="form-control rounded-0" maxlength="200" rows="3"></textarea>
					</div>
				</div>
				<h6 class="card-subtitle mb-2 text-muted">Diagnostico</h6>
				<div class="col-sm">
					<div class="input-group mb-3">
						<textarea id="inpHistoriaDiagnostico" class="form-control rounded-0" maxlength="200" rows="3"></textarea>
					</div>
				</div>
				<h6 class="card-subtitle mb-2 text-muted">Observaciones</h6>
				<div class="col-sm">
					<div class="input-group mb-3">
						<textarea id="inpHistoriaObservaciones" class="form-control rounded-0" maxlength="200" rows="3"></textarea>
					</div>
				</div>
				<div style="display: none;" class="alert alert-danger" id="mensajeErrorHistoriaAlert"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				<button id="{{ info.mascota.idMascota }}" class="btn btn-success" onclick="insertarHistoriaClinica(this)">Insertar</button>
			</div>
		</div>
	</div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- -----------------------------------------------------NUEVA VACUNA------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="vacunasModal" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-info" >
				<h5 class="modal-title" id="exampleModalLongTitle">Aplicar nueva vacuna</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Nombre vacuna</span>
					<input id="inpNombreVacuna" type="text" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Intervalo</label>
					</div>
					<select class="custom-select" id="inpIntervaloVacuna">
						<option value="1" selected>Unica dosis</option>
						<option value="30">Mensual</option>
						<option value="60">Bimestral</option>
						<option value="180">Semestral</option>
						<option value="360">Anual</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Fecha Dosis</span>
					<input id="inpPrimerDosisVacuna" type="date" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<h6 class="card-subtitle mb-2 text-muted">Observaciones</h6>
				<div class="row">
					<div class="col-sm">
						<div class="input-group mb-3">
							<textarea id="inpObservacionesVacuna" class="form-control rounded-0" maxlength="200" id="exampleFormControlTextarea2" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				<button class="btn btn-success" id="{{info.mascota.idMascota}}" onclick="aplicarNuevaVacunaMascota(this)">Aplicar</button>
			</div>
		</div>
	</div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------------------NUEVA ENFERMEDAD------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalNuevaEnfermedad" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-info" >
				<h5 class="modal-title" id="modalTituloEnfermedad"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Enfermedad</span>
					<input id="inpNombreEnfermedad" type="text" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Fecha Diagnostico</span>
					<input id="inpFechaDiagnosticoEnfermedad" type="date" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<h6 class="card-subtitle mb-2 text-muted">Observaciones</h6>
				<div class="row">
					<div class="col-sm">
						<div class="input-group mb-3">
							<textarea id="inpObservacionesEnfermedad" class="form-control rounded-0" maxlength="200" id="exampleFormControlTextarea2" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				<button class="btn btn-success" id="modalButtonEnfermedad"> </button>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/verMascota.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/enfermedades.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/vacunas.js"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/analisis.js"></script>
<script type="text/javascript">
	let date = new Date()
	let day = date.getDate()
	let month = date.getMonth() + 1
	let year = date.getFullYear()

	if(month < 10){
		month = "0" + month ;
	}

	if(day < 10){
		day = "0" + day;
	}

	document.getElementById('inpPrimerDosisVacuna').value = `${year}-${month}-${day}`;
	document.getElementById('inpFechaDiagnosticoEnfermedad').value = `${year}-${month}-${day}`;
	document.getElementById('inpFechaAnalisis').value = `${year}-${month}-${day}`;
	document.getElementById('inpHistoriaFechaRealizacion').value = `${year}-${month}-${day}`;
</script>
{% endblock %}
{% endblock %}