{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border w-75 shadow">
		<div class="card-header d-flex bg-mycolor {{rowColorClientType}}">
			<div class="row">
				<div class="row ml-2">
					{% if SocioMascota.socio %}
					{% if BackTo != "VerSocio" %}
					<h5 class="card-title mt-2">{{SocioMascota.mascota.nombre}}&nbsp-&nbsp;
					<a href="{{ path_for('VerSocio', {idSocio: SocioMascota.socio.idSocio }) }}" style="color:black; ">{{SocioMascota.socio.nombre}}</a>&nbsp;
					</h5>
					{% else %}
					<h5 >Mascota de&nbsp;{{SocioMascota.socio.nombre}}</h5>&nbsp;
					{% endif %}
					{% else %}
					<h5 class="card-title mt-2"></h5>
					{% endif %}
					{% if SocioMascota.socio.deudor == true %}
					<h5 class="card-title mt-2" style="float: right !important;"><i class="fas fa-exclamation-triangle" title="Último mes pago &nbsp;{{SocioMascota.socio.fechaUltimaCuota}} el día &nbsp;{{SocioMascota.socio.fechaUltimoPago}}"></i></h5>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-2 notShowMobile" style="min-width: 10em;">
					<div class="d-flex justify-content-center mb-2">
						<button type="button" id="NUEVAVACUNA" class="btn btn-dark w-100" name="{{ SocioMascota.mascota.idMascota }}" onclick="openModalVacuna(this)">Nueva<br> vacuna o medicamento</button>
					</div>
					<div class="d-flex justify-content-center mb-2">
						<button type="button" id="NUEVAENFERMEDAD" class="btn btn-dark w-100" name="{{ SocioMascota.mascota.idMascota }}" onclick="openModalEnfermedad(this)">Nueva <br>enfermedad</button>
					</div>
					<div class="d-flex justify-content-center mb-2">
						<button type="button" id="NUEVOANALISIS" class="btn btn-dark w-100" name="{{ SocioMascota.mascota.idMascota }}" onclick="openModalAnalaisis(this)">Nuevo<br>analisis</button>
					</div>
					<div class="d-flex justify-content-center mb-2">
						<button type="button" id="NUEVAHISTORIA" class="btn btn-dark w-100" name="{{ SocioMascota.mascota.idMascota }}" onclick="openModalHistoria(this)">Nueva<br>Historia<br>Clínica</button>
					</div>
				</div>
				<div class="col">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link text-dark active" id="nav-home-tab" data-toggle="tab" href="#nav-informacion" role="tab">Información</a>
							<a class="nav-item nav-link text-dark" id="nav-home-tab" data-toggle="tab" href="#nav-vacunas" role="tab">Vacunas</a>
							<a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-enfermedades" role="tab">Enfermedades</a>
							<a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-analisis" role="tab">Análisis</a>
							<a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-historia" role="tab">Historia Clínica</a>
						</div>
					</nav>
					<div class="tab-content " id="nav-tabContent">
						<div class="tab-pane fade show active border boder-2 border-top-0" id="nav-informacion" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="d-flex flex-row-reverse">
								<button type="button" class="btn btn-link mr-2 mt-2 mb-2" onclick="openModalModificarMascota('{{ SocioMascota.mascota.idMascota }}')">
									<i class="fas fa-edit text-dark"></i>
								</button>
							</div>
							<div class="row d-flex justify-content-center m-3">
								<div class="col">
									<div class="form-group">
										<label for="inputNombre">Nombre</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputNombre" readonly value="{{ SocioMascota.mascota.nombre }}" onkeypress="return keyEnterPress(event, this.value, 50)">
									</div>
								</div>
							</div>
							<hr>
							<div class="row d-flex justify-content-center m-3">
								<div class="col">
									<div class="form-group">
										<label for="inputEspecie">Especie</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputEspecie" readonly value="{{ SocioMascota.mascota.especie }}" onkeypress="return keyEnterPress(event, this.value, 50)">
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="inputRaza">Raza</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputRaza" readonly value="{{ SocioMascota.mascota.raza }}" onkeypress="return keyEnterPress(event, this.value, 50)">
									</div>
								</div>
							</div>
							<div class="row d-flex justify-content-center m-3">
								<div class="col">
									<div class="form-group">
										<label for="inputSexo">Sexo</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputSexo" readonly value="{{ SocioMascota.mascota.sexo }}" onkeypress="return keyEnterPress(event, this.value, 50)">
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="inputPelo">Pelo</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputPelo" readonly value="{{ SocioMascota.mascota.pelo }}" onkeypress="return keyEnterPress(event, this.value, 50)">
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="inputColor">Color</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputColor" readonly value="{{ SocioMascota.mascota.color }}" onkeypress="return keyEnterPress(event, this.value, 50)">
									</div>
								</div>
							</div>
							<div class="row d-flex justify-content-center m-3">
								<div class="col">
									<div class="form-group">
										<label for="inputPedigree">Pedigree</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputPedigree" readonly value="{{ SocioMascota.mascota.pedigree }}" onkeypress="return keyEnterPress(event, this.value, 50)">
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="inputChip">Chip</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputChip" readonly value="{{ SocioMascota.mascota.chip }}" onkeypress="return keyEnterPress(event, this.value, 50)">
									</div>
								</div>
							</div>
							<hr>
							<div class="row d-flex justify-content-center m-3">
								<div class="col">
									<div class="form-group">
										<label for="inputNacimiento">Nacimiento</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputNacimiento" readonly value="{{ SocioMascota.mascota.fechaNacimiento }}">
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="inputFallecimiento">Fallecimiento</label>
										<input type="text" class="form-control text-center shadow-sm" id="inputFallecimiento" readonly value="{{ SocioMascota.mascota.fechaFallecimiento }}">
									</div>
								</div>
							</div>
							<div class="row d-flex justify-content-center m-3">
								<div class="col">
									<div class="form-group">
										<label for="inputObservaciones">Observaciones</label>
										<textarea id="inputObservaciones" class="form-control shadow-sm rounded-0" maxlength="200" readonly style="resize: none;" rows="3" disabled>{{ SocioMascota.mascota.observaciones }}</textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade show  border boder-2 border-top-0 p-3" id="nav-vacunas" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="tableCustomScroll">
								<table class="table table-sm">
									<thead class="bg-mycolor">
										<tr>
											<td class="text-center notShowMobile" scope="col">Aplicar</td>
											<td class="text-center" scope="col">Prox. dosis</td>
											<td class="text-center" scope="col">Última dosis</td>
											<td class="text-center" scope="col">Nombre</td>
											<td class="text-center notShowMobile" scope="col">Intervalo</td>
											<td class="text-center" scope="col">Nº dosis</td>
											<td class="text-center notShowMobile" scope="col">Primer Dosis</td>
											<td class="text-center notShowMobile" scope="col">Modificar</td>
										</tr>
									</thead>
									<tbody id="tbodyVacunas">
										{% if responseVacunas.result == 2 %}
										{% for vacuna in responseVacunas.listResult %}
										<tr id="trV{{ vacuna.idVacunaMascota }}">
											<td class="text-center notShowMobile"><button type="button" class="btn btn-link btn-sm" onclick="modalAplicarDosis('{{ vacuna.idVacunaMascota }}')"><i class="fas fa-syringe text-dark"></i></button></td>
											<td class="text-center" onclick="openDescriptionVacuna('{{vacuna.idVacunaMascota }}')">{{ vacuna.fechaProximaDosis }}</td>
											<td class="text-center" onclick="openDescriptionVacuna('{{vacuna.idVacunaMascota }}')">{{ vacuna.fechaUltimaDosis }}</td>
											<td class="text-center" onclick="openDescriptionVacuna('{{vacuna.idVacunaMascota }}')">{{ vacuna.nombreVacuna }}</td>
											<td class="text-center notShowMobile" onclick="openDescriptionVacuna('{{vacuna.idVacunaMascota }}')">{{ vacuna.intervaloDosis }} días</td>
											<td class="text-center" onclick="openDescriptionVacuna('{{vacuna.idVacunaMascota }}')">{{ vacuna.numDosis }}</td>
											<td class="text-center notShowMobile" onclick="openDescriptionVacuna('{{vacuna.idVacunaMascota }}')">{{ vacuna.fechaPrimerDosis }}</td>
											<td class="text-center notShowMobile" style="min-width: 6em;">
												<button type="button" class="btn btn-link btn-sm" name="{{ vacuna.idVacunaMascota }}" onclick="openModalVacuna(this)"><i class="fas fa-edit text-dark"></i></button>
												<button type="button" class="btn btn-link btn-sm" name="{{ vacuna.idVacunaMascota }}" onclick="openModalBorrarVacuna('{{ vacuna.idVacunaMascota }}')" ><i class="fas fa-trash-alt text-dark"></i></button>
											</td>
										</tr>
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
							</div>
							<div class="d-flex justify-content-center m-2">
								<div id="containerDescripcion" style="display: none;" class="form-group w-75">
									<label for="textAreaShowDescription">Descripcion </label>
									<textarea id="textAreaShowDescription" class="form-control shadow-sm rounded-0" maxlength="200" readonly style="resize: none;" rows="2" disabled></textarea>
								</div>
							</div>
						</div>
						<div class="tab-pane fade border boder-2 border-top-0 p-3" id="nav-enfermedades" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="tableCustomScroll" >
								<table class="table table-sm">
									<thead class="bg-mycolor">
										<tr>
											<td class="text-center" scope="col">Diagnóstico</td>
											<td class="text-center" scope="col">Nombre</td>
											<td class="text-center" scope="col">Observaciones</td>
											<td class="text-center notShowMobile" scope="col">Modificar</td>
										</tr>
									</thead>
									<tbody id="tbodyEnfermedades">
										{% if responseEnfermedades.result == 2 %}
										{% for enfermedad in responseEnfermedades.listResult %}
										<tr id="trE{{ enfermedad.idEnfermedad }}">
											<td class="text-center" onclick="showObservaciones('{{ enfermedad.idEnfermedad }}')" scope="col">{{ enfermedad.fechaDiagnostico }}</td>
											<td class="text-center" onclick="showObservaciones('{{ enfermedad.idEnfermedad }}')" scope="col">{{ enfermedad.nombreEnfermedad }}</td>
											<td class="text-center" onclick="showObservaciones('{{ enfermedad.idEnfermedad }}')" scope="col">{{ enfermedad.observaciones }}</td>
											<td class="text-center notShowMobile" scope="col">
												<button type="button" class="btn btn-link btn-sm" name="{{ enfermedad.idEnfermedad }}" onclick="openModalEnfermedad(this)"><i class="fas fa-edit text-dark"></i></button>
												<button type="button" class="btn btn-link btn-sm" onclick="openModalBorrarEnfermedad('{{ enfermedad.idEnfermedad }}')"><i class="fas fa-trash-alt text-dark"></i></button>
											</td>
										</tr>
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade border boder-2 border-top-0 p-3" id="nav-analisis" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="tableCustomScroll" >
								<table class="table table-sm ">
									<thead class="bg-mycolor">
										<tr>
											<td class="text-center" scope="col">Fecha</td>
											<td class="text-center" scope="col">Nombre</td>
											<td class="text-center" scope="col">Acción</td>
										</tr>
									</thead>
									<tbody id="tbodyAnalisis">
										{% if responseAnalisis.result == 2 %}
										{% for analisis in responseAnalisis.listResult %}
										<tr id="trA{{ analisis.idAnalisis }}">
											<td class="text-center" onclick="verAnalisis('{{ analisis.idAnalisis }}')" scope="col">{{ analisis.fecha }}</td>
											<td class="text-center" onclick="verAnalisis('{{ analisis.idAnalisis }}')" scope="col">{{ analisis.nombre }}</td>
											<td class="text-center" style="min-width: 6 em;" scope="col">
												<button type="button" class="btn btn-link btn-sm" name="{{ analisis.idAnalisis }}" name="{{ analisis.idAnalisis }}" onclick="openModalAnalaisis(this)"><i class="fas fa-edit text-dark"></i></button>
												<button type="button" class="btn btn-link btn-sm" name="{{ analisis.idAnalisis }}" onclick="openModalBorrarAnalisis('{{ analisis.idAnalisis }}')" ><i class="fas fa-trash-alt text-dark"></i></button>
											</td>
										</tr>
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade border boder-2 border-top-0 p-3" id="nav-historia" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="tableCustomScroll" onscroll="cargarHistoriaClinica('{{ SocioMascota.mascota.idMascota }}')">
								<table class="table table-sm ">
									<thead class="bg-mycolor">
										<tr>
											<td class="text-center" scope="col">Fecha</td>
											<td class="text-center" scope="col">Motivo de la consulta</td>
											<td class="text-center" scope="col">Acción</td>
										</tr>
									</thead>
									<tbody id="tbodyHistoriaClinica">
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalModificarMascota" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title">Modificar mascota</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputNombreMascota">Nombre</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputNombreMascota">
							<small id="inputNombreMascota" class="form-text text-muted">Obligatorio</small>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputEspecieMascota">Especie</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputEspecieMascota">
							<small id="inputEspecieMascota" class="form-text text-muted">Obligatorio</small>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputRazaMascota">Raza</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputRazaMascota">
							<small id="inputRazaMascota" class="form-text text-muted">Obligatorio</small>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputNacimientoMascota">Nacimiento</label>
							<input type="date" class="form-control text-center shadow-sm" id="inputNacimientoMascota">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputFallecimientoMascota">Fallecimiento</label>
							<input type="date" class="form-control text-center shadow-sm" id="inputFallecimientoMascota">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputPeloMascota">Pelo</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputPeloMascota">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputColorMascota">Color</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputColorMascota">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<div class="form-group">
							<label for="inputSexoMascota">Sexo</label>
							<select class="form-control shadow-sm" id="inputSexoMascota">
								<option value="0">Hembra</option>
								<option value="1">Macho</option>
							</select>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label for="inputPedigreeMascota">Pedigree</label>
							<select class="form-control shadow-sm" id="inputPedigreeMascota">
								<option value="0">No</option>
								<option value="1">Si</option>
							</select>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputChipMascota">Chip</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputChipMascota">
						</div>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="inputObservacionesMascota">Observaciones</label>
						<textarea id="inputObservacionesMascota" class="form-control shadow-sm rounded-0" maxlength="200" style="resize: none;" rows="3"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-success shadow-sm" onclick="modificarMascota('{{ SocioMascota.mascota.idMascota }}')">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{% include("modalHistoriaClinica.twig") %}
<div class="modal fade" id="modalAnalisis" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor">
				<span class="modal-title" id="titleModalAnalisis"></span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputNombreEnfermedad">Nombre</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputNombreAnalisis">
						</div>
					</div>
					<div class="col-5">
						<div class="form-group">
							<label for="inputNombreEnfermedad">Fecha</label>
							<input type="date" class="form-control text-center shadow-sm" id="inputFechaAnalisis">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputObservacionesEnfermedad">Detalle</label>
							<textarea id="inputDetalleAnalisis" class="form-control shadow-sm rounded-0" maxlength="200" rows="1" style="resize: none;"></textarea>
						</div>
					</div>
				</div>
				<hr>
				<form method="post" action="" id="formConfirmFileAnalisisMasc">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<input type="file" class="form-control-file" id="idInputFileAnalisisMasc" name="nameInputFileAnalisisMasc[]" value=""  accept=".pdf" multiple>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-success shadow-sm" id="buttonConfirmModalAnalisis">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalBorrar" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title" id="titleModalBorrar">Borrar Enfermedad</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center" id="textModalBorrar">¿Seguro que desea borrar la enfermedad seleccionada?</p>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
				<button type="button" id="modalButtonBorrar" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalEnfermedad" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title" id="titleModalEnfermedad"></span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center">
					<div class="form-group w-50">
						<label for="inputNombreEnfermedad">Enfermedad</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputNombreEnfermedad">
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<div class="form-group w-50">
						<label for="inputFechaDiagnosticoEnfermedad">Fecha diagnóstico</label>
						<input type="date" class="form-control text-center shadow-sm" id="inputFechaDiagnosticoEnfermedad">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputObservacionesEnfermedad">Observaciones</label>
							<textarea id="inputObservacionesEnfermedad" class="form-control shadow-sm rounded-0" maxlength="200" rows="3" style="resize: none;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
				<button type="button" id="buttonConfirmModalEnfermedad" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalAplicarDosis" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title" >Aplicar dosis</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="aplicarDosisText" class="text-center"></p>
				<div class="d-flex justify-content-center">
					<div class="form-group row">
						<label for="inputPassword" class="col-form-label mr-1">Fecha dosis</label>
						<div >
							<input type="date" class="form-control text-center shadow-sm" id="inputDateAplicarDosis">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-success shadow-sm" id="btnAplicarDosis">Aplicar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalVacuna" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title" id="modalTitleVacuna"></span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputNombreVacuna">Nombre</label>
							<input type="text" class="form-control text-center shadow-sm" list="dataListNombreVacuna" id="inputNombreVacuna" onsearch="getDataVacunas(this.value)" onchange="completeDataVacunas(this.value)" onkeyup="this.onsearch()" autocomplete="off">
							<datalist id="dataListNombreVacuna"></datalist>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label id="labelInputDateVacuna" for="inputPrimerDosisVacuna"></label>
							<input type="date" class="form-control text-center shadow-sm" id="inputPrimerDosisVacuna">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputIntervaloVacuna">Intervalo (en días)</label>
							<input type="number" class="form-control text-center shadow-sm" id="inputIntervaloVacuna">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
				<button type="button" id="modalButtonVacuna" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>

{% include("modalViewMascota.twig") %}
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/vacunas.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/enfermedades.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/analisis.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/historiaClinica.js?{{version}}"></script>
<script type="text/javascript">
	$('#inputPrimerDosisVacuna').val(getDateForInput());
	$('#inputFechaDiagnostico').val(getDateForInput());

	cargarHistoriaClinica('{{ SocioMascota.mascota.idMascota }}');
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
			cargarHistoriaClinica('{{ SocioMascota.mascota.idMascota }}');
		}
	});
</script>
{% endblock %}
{% endblock %}