{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border shadow w-75">
		<div class="card-header d-flex justify-content-between &nbsp; {{rowColorClientType}}">
			<div class="row" style="text-transform: uppercase;">
				<h5 class="card-title mt-2 ml-2">{{ responseSocio.socio.nombre }}
				{% if responseSocio.socio.deudor == true %}
				<i class="fas fa-exclamation-triangle" title="Último mes pago &nbsp; {{responseSocio.socio.fechaUltimaCuota}} el día &nbsp; {{responseSocio.socio.fechaUltimoPago}}"></i>
				{% endif %}
				</h5>
			</div>
			<div class="row">
				<button id="{{ responseSocio.socio.idSocio }}" type="button" data-toggle="tooltip" data-placement="top" title="Modificar cliente" class="btn btn-dark mt-2 mr-4" onclick="openModalUpdateSocio(this)"><i class="fas fa-user-edit"></i></button>
				<button class="btn btn-dark mt-2 mr-4" type="button" data-toggle="tooltip" data-placement="top" title="Activar/Desactivar cliente" onclick="openModalChangeState('{{ responseSocio.socio.idSocio }}')">
					{% if responseSocio.socio.estado == 1 %}
					<i id="iconButtonState" class="fas fa-user-check"></i>
					{% else %}
					<i id="iconButtonState" class="fas fa-user-times"></i>
					{% endif %}
				</button>
				{% if responseSocio.socio.telefax %}
				<a class="btn btn-info mt-2 mr-1" target="_blank" title="Enviar whatsapp al {{responseSocio.socio.telefax}}" href="https://wa.me/{{responseSocio.socio.telefax}}" value=""><i class="fab fa-whatsapp"></i></a>
				{% else %}
				<button class="btn btn-info mt-2 mr-1" type="button" title="No se encontró número de whatsapp" disabled><a class="btn-info" target="_blank" value=""><i class="fab fa-whatsapp"></i></a></button>
				{% endif %}
			</div>
		</div>
		<div class="card-body">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link text-dark active" id="nav-home-tab" data-toggle="tab" href="#nav-informacion" role="tab">Información</a>
					<a class="nav-item nav-link text-dark " id="nav-home-tab" data-toggle="tab" href="#nav-adicional" role="tab">Información adicional</a>
					<a class="nav-item nav-link text-dark " id="nav-home-tab" data-toggle="tab" href="#nav-pago" role="tab">Información de pago</a>
					<a class="nav-item nav-link text-dark" id="nav-home-tab" data-toggle="tab" href="#nav-historialSocio" role="tab">Historial</a>
				</div>
			</nav>
			<div class="tab-content mb-1" id="nav-tabContent">
				<div class="tab-pane fade show active border boder-2 border-top-0 p-2" id="nav-informacion" role="tabpanel" aria-labelledby="nav-home-tab">
					{% if responseSocio.result == 2 %}
					<div class="row">
						<div class="col-8">
							<div class="form-group">
								<label for="inputNombre">Nombre</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputNombre" value="{{ responseSocio.socio.nombre }}">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputCedula">Cédula</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputCedula" value="{{ responseSocio.socio.cedula }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="inputTelefono">Teléfono</label>
								<div class="input-group-prepend">
									<input type="text" class="form-control text-center shadow-sm" readonly id="inputTelefono" value="{{ responseSocio.socio.telefono }}">
									{% if responseSocio.socio.telefono|length > 8  %}
									<a href="https://wa.me/{{responseSocio.socio.telefono}}" target="_blank"><button title="Notificar cliente {{responseSocio.socio.telefono}}" class="btn btn-light"><i class="fab fa-whatsapp"></i></button></a>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputTelefax">Celular</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputTelefax" value="{{ responseSocio.socio.telefax }}">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputEmail">Email</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputEmail" value="{{ responseSocio.socio.email }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="form-group">
								<label for="inputDireccion">Dirección</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputDireccion" value="{{ responseSocio.socio.direccion }}">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputRut">RUT</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputRut" value="{{ responseSocio.socio.rut }}">
							</div>
						</div>
					</div>
					<br>
					<div class="d-flex justify-content-between mb-1">
						<h6 class="card-subtitle mb-3 text-muted mt-2">Mascotas</h6>
						<div>
							<!--button class="btn btn-dark" data-toggle="modal" type="button" data-target="#modalSetNewMascota" data-toggle="tooltip" data-placement="top" title="Asignar mascota sin dueño">Asignar mascota</button-->
							<a class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Agregar nueva mascota" href="{{path_for('Inicio')}}nueva-mascota/{{responseSocio.socio.idSocio}}">Nueva mascota</a>
						</div>
					</div>
					<div class="tableCustomScroll">
						<div class="d-flex justify-content-center">
							<table class="table table-sm">
								<thead class="bg-mycolor">
									<tr>
										<td class="text-center" scope="col">Nombre</td>
										<td class="text-center notShowMobile"abbr="" scope="col">Raza</td>
										<td class="text-center" scope="col">Especie</td>
										<td class="text-center notShowMobile" scope="col">Sexo</td>
										<td class="text-center notShowMobile" scope="col">Nacimiento</td>
										<td class="text-center" scope="col">Vivo</td>
										<td class="text-center" scope="col">Desvincular</td>
									</tr>
								</thead>
								<tbody id="tbodyMascotasSocio">
									{% for mascota in responseSocio.mascotas.listMascotas %}
									<tr id="trM2{{mascota.idMascota}}">
										<td class="text-center" onclick="verMascota('{{ mascota.idMascota }}')">{{ mascota.nombre }}</td>
										<td class="text-center notShowMobile" onclick="verMascota('{{ mascota.idMascota }}')">{{ mascota.raza }}</td>
										<td class="text-center" onclick="verMascota('{{ mascota.idMascota }}')">{{ mascota.especie }}</td>
										{% if mascota.sexo == 0 %}
										<td class="text-center notShowMobile" onclick="verMascota('{{ mascota.idMascota }}')">Hembra</td>
										{% else %}
										<td class="text-center notShowMobile" onclick="verMascota('{{ mascota.idMascota }}')">Macho</td>
										{% endif %}
										<td class="text-center notShowMobile" onclick="verMascota('{{ mascota.idMascota }}')">{{ mascota.fechaNacimiento }}</td>
										<td class="text-center" onclick="verMascota('{{ mascota.idMascota }}')">
											{% if mascota.fechaFallecimiento == "" %}
											Si
											{% else %}
											No
											{% endif %}
										</td>
										<td class="text-center"><button class="btn btn-link" onclick="desvincularMascota('{{ mascota.idMascota }}')"><i class="fas fa-trash-alt text-dark"></i></button></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show border boder-2 border-top-0 p-2" id="nav-adicional" role="tabpanel" aria-labelledby="nav-home-tab">
					<h6 class="card-subtitle mb-3 text-muted">Información adicional</h6>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="selectTipoSocio">Tipo de cliente</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="selectTipoSocio" value="{{ responseSocio.socio.tipo }}">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputFechaIngreso">Fecha de alta</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputFechaIngreso" value="{{ responseSocio.socio.fechaIngreso }}">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputFechaBaja">Fecha de baja</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputFechaBaja" value="{{ responseSocio.socio.fechaBajaSocio }}">
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show border boder-2 border-top-0 p-2" id="nav-pago" role="tabpanel" aria-labelledby="nav-home-tab">
					<h6 class="card-subtitle mb-3 text-muted">Información de pago</h6>
					<div class="row">
						<div class="col-6">
							<label for="inputCuota">Cuota</label>
							<div class="input-group">
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputCuota" value="{{ responseSocio.socio.cuota }}">
								<div class="input-group-prepend">
									<button class="btn btn-success shadow-sm" data-toggle="tooltip" data-placement="top" title="Actualizar cuota" onclick="calculateQuotaSocio('{{ responseSocio.socio.idSocio }}')"><i class="fas fa-sync-alt"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="inputFechaPago">Fecha pago</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputFechaPago" value="{{ responseSocio.socio.fechaPago }}">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputUltimoPago">Último pago</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputUltimoPago" value="{{ responseSocio.socio.fechaUltimoPago }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="inputUltimoMesPago">Último mes pago</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputUltimoMesPago" value="{{ responseSocio.socio.fechaUltimaCuota }}">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputLugarPago">Lugar de pago</label>
								<input type="text" class="form-control text-center shadow-sm" readonly id="inputLugarPago" value="{{ responseSocio.socio.lugarPago }}">
							</div>
						</div>
					</div>
					{% endif %}
				</div>
				<div class="tab-pane fade show  border boder-2 border-top-0 p-3" id="nav-historialSocio" role="tabpanel" aria-labelledby="nav-home-tab" style="min-height: 300px;">
					<div class="d-flex flex-row-reverse mb-1">
						<button class="btn btn-dark btn-sm" onclick="openNuevoHistorialSocio('{{ responseSocio.socio.idSocio }}')" data-toggle="tooltip" data-placement="top" title="Nuevo registro en historial socio">
							<i class="fas fa-file-medical"></i>
						</button>
					</div>
					<div id="containerTable">
						<table class="table table-sm">
							<thead class="bg-mycolor">
								<tr>
									<td class="text-center" scope="col">Fecha</td>
									<td class="text-center w-50" scope="col">Descripción</td>
									<td class="text-center" scope="col">Mascota</td>
									<td class="text-center" scope="col">importe</td>
								</tr>
							</thead>
							<tbody id="tbodyHistorialSocio"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalHistorialSocio" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor">
				<span class="modal-title" id="titleModalHistorialSocio"></span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="d-flex flex-row-reverse">
					<div class="form-group">
						<input type="date" class="form-control text-center shadow-sm" id="inputFechaHistorial">
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<select class="form-select form-control shadow-sm" id="selectMascotaHistorial">
								<option value="0">Seleccionar mascota</option>
								{% for mascota in responseSocio.mascotas.listMascotas %}
								<option value="{{ mascota.idMascota }}">{{ mascota.nombre }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col form-group">
						<label for="inputAsuntoHistorial">Asunto</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputAsuntoHistorial">
					</div>
					<div class="col-4 form-group">
						<label for="inputImporteHistorial">Importe</label>
						<input type="number" class="form-control text-center shadow-sm" id="inputImporteHistorial">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="textAreaObservacionesHistorial">Observaciones</label>
							<textarea id="textAreaObservacionesHistorial" class="form-control rounded-0 shadow-sm" maxlength="200" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
				<button id="buttonModalHistorialSocio" type="button" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalChangeState" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor">
				<span class="modal-title" id="tittleModalState"></span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="messageModalState" class="text-center"></p>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
				<button id="buttonModalState" type="button" class="btn btn-success shadow-sm">Confirmar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalSetNewMascota" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor">
				<span class="modal-title" id="exampleModalLongTitle">Asignar mascota</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="height: 350px;">
				<div class="form-group w-50">
					<input type="text" class="form-control shadow-sm" id="inputTextToSearch" onchange="buscarMascotasSinSocio(this, '{{ responseSocio.socio.idSocio }}')" onkeyup="this.onchange()" placeholder="Buscar mascota...">
				</div>
				<div>
					<table class="table table-sm">
						<thead class="bg-mycolor">
							<tr>
								<td class="text-center" scope="col">Nombre</td>
								<td class="text-center" scope="col">Especie</td>
								<td class="text-center" scope="col">Raza</td>
								<td class="text-center" scope="col">Sexo</td>
								<td class="text-center" scope="col">Nacimiento</td>
								<td class="text-center" scope="col">Estado</td>
								<td class="text-center" scope="col">Seleccionar</td>

							</tr>
						</thead>
						<tbody id="tbodyMascotasNoSocio"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalUpdateSocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor">
				<span class="modal-title" id="exampleModalLongTitle">Modificar cliente</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6 class="card-subtitle mb-3 text-muted">Información</h6>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputNombre">Nombre</label>
							<input type="text" class="form-control text-center shadow-sm"  id="inputModalNombre" onkeypress="return keyEnterPress(event, null, null)">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputCedula">Cédula</label>
							<input type="number" class="form-control text-center shadow-sm" id="inputModalCedula" onkeypress="return keyEnterPress(event, this.value, 8)">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputTelefono">Teléfono</label>
							<input type="number" class="form-control text-center shadow-sm" id="inputModalTelefono" onkeypress="return keyEnterPress(event, this.value, 10)">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputTelefax">Celular</label>
							<input type="text" class="form-control text-center shadow-sm"  id="inputModalTelefax" onkeypress="return keyEnterPress(event, null, null)">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputDireccion">Dirección</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputModalDireccion" onkeypress="return keyEnterPress(event, null, null)">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inputRut">RUT</label>
							<input type="number" class="form-control text-center shadow-sm"  id="inputModalRut" onkeypress="return keyEnterPress(event, null, null)">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputModalEmail">Email</label>
							<input type="text" class="form-control text-center shadow-sm" id="inputModalEmail" onkeypress="return keyEnterPress(event, null, null)">
						</div>
					</div>
				</div>
				<hr>
				<h6 class="card-subtitle mb-3 text-muted">Información adicional</h6>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="selectTipoSocio">Tipo de cliente</label>
							<select class="form-select form-control shadow-sm" id="selectModalTipoSocio" onkeypress="return keyEnterPress(event, null, null)">
								<option value="1">Socio</option>
								<option value="3">Ex socio</option>
								<option value="0">No socio</option>
								<option value="2">ONG</option>
							</select>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputModalFechaIngreso">Fecha de alta</label>
							<input type="date" class="form-control text-center shadow-sm" id="inputModalFechaIngreso" readonly onkeypress="return keyEnterPress(event, null, null)">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="inputModalFechaBaja">Fecha de baja</label>
							<input type="date" class="form-control text-center shadow-sm" id="inputModalFechaBaja" readonly onkeypress="return keyEnterPress(event, null, null)">
						</div>
					</div>
				</div>
				<hr>
				<h6 class="card-subtitle mb-3 text-muted">Información de pago</h6>
				<div class="form-group">
					<div class="row">
						<div class="col">
							<label for="inputFechaPago">Fecha pago</label>
							<input type="number" class="form-control text-center shadow-sm"  id="inputModalFechaPago" onkeypress="return keyEnterPress(event, this.value, 2)">
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputUltimoPago">Último pago</label>
								<input type="date" class="form-control text-center shadow-sm"id="inputModalUltimoPago" onkeypress="return keyEnterPress(event, null, null)">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputUltimoMesPago">Último mes pago</label>
								<input type="month" class="form-control text-center shadow-sm"  id="inputModalUltimoMesPago" onkeypress="return keyEnterPress(event, null, null)">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputLugarPago">Lugar de pago</label>
								<select class="form-select form-control shadow-sm" id="selectLugarPago" onkeypress="return keyEnterPress(event, null, null)">
									<option value="0">Veterinaria</option>
									<option value="1">Cobrador</option>
									<option value="2">OCA</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Cerrar</button>
					<button id="btnConfirmChange" type="button" name="{{ responseSocio.socio.idSocio }}" class="btn btn-success shadow-sm" onclick="saveChangeSocio(this)" onkeypress="return keyEnterPress(event, null, null)">Guardar</button>
				</div>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/showReplyMessage.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/sendPost.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/utils/utils.js?{{version}}"></script>
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/verSocio.js?{{version}}"></script>
<script type="text/javascript">

	cargarTablaHistorialSocios('{{ responseSocio.socio.idSocio }}');
	$('#containerTable').on('scroll', function() {
		if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
			cargarTablaHistorialSocios('{{ responseSocio.socio.idSocio }}');
		}
	});
</script>
{% endblock %}
{% endblock %}